/********BODY*******/

* { margin: 0;
    border: 0;
    padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{    
    width: 1440px;
    margin:0 auto;  
    font-family: Arial, Helvetica, sans-serif;  
}

.container{    
    box-sizing: border-box;            
    background-color: white;
}


/*****Common Classes*******/

.colorgray{
    color:gray;
}

.colordarkgray{
    color:darkgray;
}

.colorlightgray{
    color:lightgray;
}

/*****HEADER**********/
.main-header {
	width: 100%;
	height: 66px;
	background: #fafafa;
	margin: 0;
    padding:0;
    border: 0;
    display: inline-block;
       
}

/*******LOGO*********/


.main-logo{
    float:left;
    margin-left: 118px;    
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}
.imglogo{
    width:45px;
    height:45px;

}


.appname{
    display: inline-block;
    color:#9a9a9a;
    font-size: 15px;  
    font-weight:bold;    
    margin-left: 10px;
    
}

.appname span{
    color:#ffff;
    
}


/******NAVIGATION********/

.navList{
    float:right;
    margin-right: 118px;
    margin-top:25px;
}

.navList ul li { 
       
	display:inline-block;	
}

.navList ul li a{
    text-decoration: none;
    color:#a6a6a6;
    font-size: 12px;
    margin-left: 40px;
    padding-bottom:5px;
    border-bottom:10px;
}

.navList ul li a:hover{
    border-bottom:  solid #3baafe;    
}

/*****SECTION1********/
.imgdiv{
    width:100%;
    height: 670px;
    display: inline-block;    
 
}

.mainimg{
    background-image: url("../images/mainbk.png");
    background-repeat: no-repeat;
    
    
}

.infodiv{
    margin-right: 120px;
    margin-top: 225px;  
    
    float: right;
    
    
}

.descdiv{    
    width:493px;     
}

.descpara{
    
    text-align: right;
    color:white;
    font-size: 2.5em;
    line-height:1.5;
    font-weight: bold;
    
}
span.a{
    color:#e6e6e6;
}

span.b{
    color:#3BAAFE
}
.buttondiv{
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    margin-left: 150px;
    
}

.buttondiv button{
    background-color:#555555;
    color:white;
    flex:1;    
    text-align: center;
    height:61px;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
}

.buttondiv button:hover{
    background-color:#fafafa;
    color:#777777;
}

/*****SECTION-WORK*********/

.sectfeature {
box-sizing: border-box;
height: 390px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 10px;    
margin-left: 120px;
margin-right: 120px;

justify-items: center;
align-items: center;

}

.sectfeature .divfeature {        
    width:380px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #F5F5F5;
    text-align: left;   
    height:180px;
    
} 

.divfeatureimg{
    box-sizing: border-box;
    width: 75px;
    height: 75px;    
    border: 3px solid white;
    background-color:#9F9F9F;
    border-radius: 50%;
    margin-top:-35px;
    margin-left:30px;
}

.divfeatureimg img{
    display: block;
    margin: auto;
    margin-top: 20px;
    
}

.divfeature h3{
    
    font-weight: bold;
    font-size: 15px;
    color:#777777;
    margin-top:20px;
    margin-left:30px;
    
}
.divfeature p{
   margin-left:30px;   
   font-size: 13px;
   color:#9F9F9F;
   max-width: 268px;
   word-break: break-all;
   line-height: 1.5em;
}

.sectfeature .divfeature span{
    border-bottom:  solid white; 
}
.divfeature:hover .divfeatureimg{
    background-color:  #00CCFF;  
}

.divfeature:hover span{
    border-bottom:  solid #00CCFF;  
}


/*******SECTION-WHY******/
.secwhy{
    box-sizing: border-box;
    height: 478px;    
    display: grid;
    grid-template-columns: 425px 690px 325px;
         
}

.divwhyleft{
    background-color: #7A7878;
    background-image: url("../images/whyleft.jpg");
}

.divwhyright{
    background-color: #7A7878;
    background-image: url("../images/whyright.jpg");
}

.divwhymid{
    background-color: #F5F5F5;
    padding: 10% 3% 3% 10%;    
}

.divwhydetails{
    display: grid;
    grid-template-areas: 
        'item1 item2'
        'item3 item4';      
    grid-gap:10px;
}

.divwhymid > h3{
    font-size:19px;
    margin-bottom: 2em;
    font-weight: bold;    
    color: white;

    
}

.divwhymid > p{
    width:90%;
    margin-bottom: 2em;
    font-size: 13px;
    line-height: 1.5em;
    color:#9F9F9F;
}

.divwhymid:hover span{
    border-bottom:  solid #00CCFF;  
}


.divwhyitem1{
    grid-area: item1;
    display: flex;
    flex-wrap: nowrap; 
}


.imgwhy
{
    width:27px;
    height:26px;
  
}

.divwhyimg{

    width:54px;
    height:55px;
    background-color: white;     

    display: flex;
    justify-content: center;
    align-items: center;
}

.divwhyitemcontent{
   width:80%;
   padding-left:10px;
}

.divwhyitemcontent > h3{
    font-size:15px;
    margin-bottom: .5em;
    color:#7c7c7c;
    font-weight: bold;
}
.divwhyitemcontent > p{
    margin-bottom: 1em;
    font-size: 13px;
    line-height: 1.5em;
    color:#9F9F9F;
    width:80%;
}


.divwhyitem2{
    grid-area: item2;
    display: flex;
    flex-wrap: nowrap;
}

.divwhyitem3{
    grid-area: item3;
    display: flex;
    flex-wrap: nowrap;
}

.divwhyitem4{
    grid-area: item4;
    display: flex;
    flex-wrap: nowrap;
}


/********SECTION-WHY*****/


/*******SECTION-WHAT*****/


.what-grid-container{
    
    box-sizing: border-box;
    height: 540px;
    background-color: gray;

    display: grid;
    grid-template-areas:
      'header header header header'
      'itema itemb itemc itemd'
      'iteme itemf itemg itemh';
    grid-gap: 10px;    

    padding: 6% 7%;
    
}

.headeritem{
    grid-area: header;
    

    display: flex;
    justify-content: center;
    align-items: center; 
}

.imglogo-block-small{
    width:20px;
    height:20px;
    background-color: white;
}

.display-inline-block{
    display: inline-block;
}

.divwhatimg{
    width: 40px;
    height: 40px;    
    border: 1px solid white;  
    background-color: gray;  
    border-radius: 50%;
}

.img-small{
    /*
    width: 40px;
    height: 40px;    
    border: 1px solid white;  
    background-color: gray;  
    border-radius: 50%;
    */
}
.item1 { 
    grid-area: itema;
 }

 .headeralign
 {
     display: flex;     
     align-items: center;
     
 }
.item2 { 
    grid-area: itemb;
    

 }
.item3 {
     grid-area: itemc;

 }
.item4 {
     grid-area: itemd;

 }
.item5 {
     grid-area: iteme;

 }
.item6 {
     grid-area: itemf;

     }
.item7 {
     grid-area: itemg;

     }
.item8 {
     grid-area: itemh;

     }

.classh3padding{
    padding-left: 10px;;
}
#what-grid-container > div{
    
    padding: 5px;    
    background-color: white;
}

#what-grid-container > div h3{
    display: inline-block;
    color:gray;
}

#what-grid-container .headeritem img{
    margin-top:-5px;
}

#what-grid-container .headeritem h2{
    color:gray;
}

#what-grid-container > div p{
    color:gray;
}




