
/********BODY*******/

* { margin: 0;
    border: 0;
    padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{   

    font-family: "Open Sans", sans-serif, Arial, Helvetica;  
}

body{       

    width: 1440px;
    margin:0 auto;  
    font-size: 14px;
    
}

.container{    
    box-sizing: border-box;            
    background-color: white;
}


/*****Common Classes*******/



.centeralign{
    display: flex;
    justify-content: center;
    align-items: center;
}

.descstyle{
    font-family: OpenSans;
    font-size: 14px;
    color: rgba(153,153,153,255);
}

.verticalalign{
    display: flex;    
    align-items: center;
}

/*****HEADER**********/
.main-header {
	width: 100%;
	min-height: 4.71em;   /* 66px*/
	background: #fafafa;
	margin: 0;
    padding:0;
    border: 0;
          
}

/*******LOGO*********/

.main-logo{
    float:left;
    margin-left: 8.2%;     
    margin-top:10px;
}

.imglogo{
    width:45px;
    height:45px;

}

.appname{
    
    margin-left: 10px;
    font-family: NotoSans;
    font-size: 18px;
    font-weight: bold;
    color: rgba(153,153,153,255);
    
}
.appname span{
    color:rgba(255,255,255,255);
    
}

/******NAVIGATION********/

.navList{
    float:right;
    margin-right: 8.2%; /*118px*/
    margin-top:25px;
}

.navList ul li { 
       
	display:inline-block;	
}

.navList ul li a{
    text-decoration: none;
    color:#a6a6a6;
    font-size: 14px;
    font-family: NotoSans;
    margin-left: 38px;
    padding-bottom:5px;
    border-bottom:10px;
}

.navList ul li a:hover{
    border-bottom:  solid #3baafe;    
}

/*****SECTION1********/
.imgdiv{
    width:100%;
    height: 47.86em; /*670px*/    
}
.mainimg{
    background-image: url("../images/mainbk.png");
    background-repeat: no-repeat;    
}
.infodiv{
    margin-right: 8.2%;
    margin-top: 15.07em;     
    float: right;   
    
}
.descpara{
    
    text-align: right;
    color:white;
    font-size: 2.5em;
    line-height:1.5;
    font-weight: bold;
    
}
span.a{
    color:#e6e6e6;
}

span.b{
    color:#3BAAFE
}
.buttondiv{
    float: right;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box; 
        
}

.buttondiv button{
    background-color:#555555;
    color:white;    
    text-align: center;
    height:61px;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 1.5em;    
    padding-left:35px;
    padding-right:35px;
}

.buttondiv button:hover{
    background-color:#fafafa;
    color:#777777;
}

/*****SECTION-WORK*********/

.sectfeature {
box-sizing: border-box;
height: 27.86em;    /*390px*/
display: flex;
justify-content: center;
align-items: center;

}

.features{
    width:83.75%;    /* 1206px*/
    height: 46.54%; /*219 -37.5 px*/    

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.5em;   
}

.divfeature {        
    background-color: #F5F5F5;
    text-align: left;   
    padding-left: 2.5em;    
} 

.divfeatureimg{
    box-sizing: border-box;
    width: 75px;
    height: 75px;    
    border: 3px solid white;
    background-color:#555555;
    border-radius: 50%;
    margin-top:-37.5px;
}

.divfeature h3{
    
    font-weight: bold;
    font-size: 15px;
    color:#777777;
    margin-top: 1.5em;
    margin-bottom: 1.5em;    
}
.divfeature p{ 
   font-size: 14px;
   font-family: OpenSans;
  
   color:#9F9F9F;
   max-width: 268px;
   /*padding-right: 75px;*/
   
   /*word-break: break-all;*/
   line-height: 1.5em;
}

.divfeature span{
    border-bottom: 2px solid white; 
}
.divfeature:hover .divfeatureimg{
    background-color:  #3BAAFE;  
}

.divfeature:hover span{
    border-bottom: 2px solid #3BAAFE;  
}


/*******SECTION-WHY******/
.secwhy{
    box-sizing: border-box;
    height: 34.14em;  /*478px*/    
    display: grid;
    grid-template-columns: 29.51% 47.92% 22.57%;/*425px 690px 325px;*/
         
}

.divwhyleft{
    background-color: #7A7878;
    background-image: url("../images/whyleft.jpg");
}

.divwhyright{
    background-color: #7A7878;
    background-image: url("../images/whyright.jpg");
}

.divwhymid{
    background-color: #F5F5F5; 
}

.whycontent{
    width: 43.57em; /*610px;*/
    height: 23.21em /*325px;*/
}

.whyheader{
    font-size:18px;    
    font-weight: bold;    
    color: white;    
}

.whydesc{
    margin-top: 3em;
    margin-bottom: 3.14em;
    font-size: 14px;
    line-height: 1.5em;
    color:#9F9F9F;
}

.divwhymid span{
    border-bottom: 2px solid white;  
}

.divwhymid:hover span{
    border-bottom: 2px solid #3BAAFE;  
}

.divwhydetails{
    display: grid;
    grid-template-areas: 
        'item1 item2'
        'item3 item4';      
    grid-gap: 1.5em;
}

.divwhyitem1{
    grid-area: item1;
    display: flex;
    flex-wrap: nowrap; 
}

.divwhyimg{

    width:54px;
    height:55px;
    background-color: white;     
 
}

.divwhyitemcontent{
   width:80%;
   padding-left:1em;
}

.divwhyitemcontent > h3{
    font-size:14px;
    margin-bottom: .5em;
    color:#7c7c7c;
    font-weight: bold;
}
.divwhyitemcontent > p{   
    font-size: 13px;
    line-height: 1.5em;
    color:#9F9F9F;
    width:80%;
}

.divwhyitem2{
    grid-area: item2;
    display: flex;
    flex-wrap: nowrap;
}

.divwhyitem3{
    grid-area: item3;
    display: flex;
    flex-wrap: nowrap;
}

.divwhyitem4{
    grid-area: item4;
    display: flex;
    flex-wrap: nowrap;
}


/********SECTION-WHY*****/


/*******SECTION-WHAT*****/


.what-grid-container{
    
    box-sizing: border-box;
    height: 38.57em; /*540px; */   
}

.whatcontent{

    width: 85.71em; /*1200px*/
    height: 26.14em; /*366px*/    

    display: grid;
    grid-template-areas:
      'header header header header'
      'itema itemb itemc itemd'
      'iteme itemf itemg itemh';
    grid-gap: 2em;
}

/*

@media screen and (max-width:480px){
    .what-grid-container{
        background-color: red;
        height: 640px;   
    }
}

*/

.headeritem{
    grid-area: header;    

    display: flex;
    justify-content: center;

   min-height: 60px;
}

.imglogo-block-small{
    width:20px;
    height:20px;
}

.divwhatimg{
    width: 47px;
    height: 48px;    
    border: 1px solid white;  
    background-color: #555555;  
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center; 
}

.itemhover:hover .divwhatimg{
    background-color:#3BAAFE;
}

.item1 { 
    grid-area: itema;
 }

 .headeralign
 {
     display: flex;     
     align-items: center;
     
 }
.item2 { 
    grid-area: itemb;   

 }
.item3 {
     grid-area: itemc;     

 }
.item4 {
     grid-area: itemd;     

 }
.item5 {
     grid-area: iteme;

 }
.item6 {
     grid-area: itemf;
}
.item7 {
     grid-area: itemg;

}
.item8 {
     grid-area: itemh;

}

.whatheadingstyle{
    padding-left: 10px;;
    color:#3BAAFE;
    font-weight: bold;
    font-size: 18px;
}


.headeritem span{
    padding:5px;
    border-bottom: 2px solid #B6B6B6;
}

.whatitemheading{
    color:#777777;
    font-size: 16px;
    font-weight: bold;
    padding-left:10px;
}



.itemhover:hover .whatitemheading{
    color:#555555;
}

.whatitempara{
    margin-bottom: 1em;
    font-size: 14px;
    line-height: 1.5em;
    color:#9F9F9F;    
}

/**********SECTION-HOW*********/

.sechow{
    height: 37em;/*518px;*/
}

.divhowbg{

    background-image: url("../images/howbg.png");
    display: flex;
    align-items: center;    

    width:100%;
    height: 100%;

}

.divhowmain{    
    
    box-sizing: border-box;
    background-color: #EBEBEB;
    width: 64.14em;  /*898px;*/
    height: 24.93em; /*349px;*/

    margin-left: 8.2%;
    margin-right: 29.44%;

    padding: 3.14em 2.14em 3.14em 2.5em;

    opacity: 0.7;
    
}

.howheading{
    font-size: 18px;
    font-weight: bold;
    color:#777777;
       
}

.howheading span{
    
    border-bottom: 2px solid white;
}

.divhowmain:hover span{
    border-bottom: 2px solid #3BAAFE;
}

.howdesc
{
    font-size: 14px;
    line-height: 1.5em;
    color: #9F9F9F;
    
    max-width: 48.14em; /*674px*/
    margin-top: 1.5em;
    margin-bottom: 2em;
}

.divhowcontent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;                
    grid-column-gap: 20px; 
}

.howitem{

    display: flex;
    max-width: 17.86em; /*250px;*/
}

.howitem:hover .howimagebg{
    background-color: #3ABBFE;
}

.howimagebg{
    width: 39px;
    height: 39px;
    background-color: white;
    border-radius: 50%;

}

.howitemdesc{
    padding-left:10px;
    
}

.howitemheading{
    color:#777777;
    font-size: 16px;
    font-weight: bold;
}

.classitemparastyle{
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 14px;
    line-height: 1.5em;
    color:#9F9F9F;
    max-width: 14.36em; /*200px;  */

}


/*********SECTION-TEAM********/

.secteam{
    height: 57.14em; /*800px; */
    box-sizing: border-box;
    background-color: white;
    
/*
    display: flex;
    align-content: center;
    justify-content: center;  */
}

.divmeetteam{
    width: 83.75%; /*1206px*/
    height: 78.63%; /*629px*/

}

.divteamheader{
   
    margin-bottom: 105px;
}

.divteamheader >h3{
    color:rgba(59,170,254,255);
    font-family: NotoSans;
    font-size: 24px;
    font-weight: bold;
    margin-left:10px;
}

.divteamheader  span{
    border-bottom: 2px solid #b5b5b5;
}

.divmembers{

    display: grid;    
    
    grid-template-areas: 'member1 member2'
                          'member3 member4';
    grid-gap:44px;

    
}

.divmember1{
    grid-area: member1;

    display: grid;
    grid-template-columns: 1fr 2fr; 
    background-color: #f5f5f5;

}

.photo{
 
    background-color: #E6E6E6;
    width:162px;
    height:188px;
    margin-left: 40px;
    margin-top: -22px;

}

.imgphoto
{   
    width:100%;
    height:100%;
    padding:10px;
    box-sizing: border-box;

}

.nameslope
{
    width: 198px;
    height: 54px;
    background-color:#f5f5f5;
    box-sizing: border-box;
    border-top: 54px solid white;
    border-right: 20px solid transparent;
    position: relative;
    
}

.divname{
    position: absolute;    
    width: 160px;
    height: 54px;     
    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;    
    padding-left: 19px;
    margin-top: -54px;   
}


.divname >h6{
    font-weight: bold;
    font-size: 14px;
    color: rgba(119,119,119,255)
}

.memberhover:hover .divname >h6{

    color: rgba(59,170,254,255);
}

.posslope{
    position: relative;
    width: 178px;
    height: 39px;
    background-color:#f5f5f5;
    box-sizing: border-box;
    border-top: 39px solid #E6E6E6;
    border-right: 20px solid transparent;
    margin-top: -5px;    
}

.divpos{
    position: absolute;
    width: 120px;
    height: 39px;
    background-color: #E6E6E6;
    box-sizing: border-box;
    margin-top: -39px;
    
    
    display: flex;
    align-items: center;
    padding-left: 19px;
}



.divpos >h6{
    font-weight:500;
    font-size: 12px;
    color: rgba(153,153,153,255);
}

.divmemberdetails{
  
    margin-top:22px;
}


.memdesc{
    font-size: 14px;
    color:rgba(153,153,153,255);
    line-height: 1.5em;
    padding: 1em 3em .5em 1.5em;  /****check****/
    
}
.divsocialmedia{
  
    display: grid;
    grid-template-areas: 'facebook twitter googleplus';

    margin-left: 40px;
    padding : 3px 5px 3px 10px;
    
}

.facebook{
    grid-area: facebook;
    width:39px;
    height: 39px;
    border-radius: 50%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter{
    grid-area: twitter;
    width:39px;
    height: 39px;
    border-radius: 50%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.googleplus{
    grid-area: googleplus;
    width:39px;
    height: 39px;
    border-radius: 50%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.divmember2{
    grid-area: member2;

    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #f5f5f5;
    
}

.divmember3{
    grid-area: member3;
    display: grid;
    
    grid-template-columns: 1fr 2fr;
    background-color: #f5f5f5;
    
}

.divmember4{
    grid-area: member4;
    display: grid;
    
    grid-template-columns: 1fr 2fr;
    background-color: #f5f5f5;
    
}


/*************SECTION-QUALITY*****/

.secquality{
    
    height: 34.14em;  /*478px; */
    background-color: #FAFAFA;

    display: grid;
    grid-template-columns: 44% 56%;
}

.computerimg
{
    margin-left: 8.2em;
    
}

.qualitycontentslope{
    height: 34.14em;
    background-color: #FAFAFA;
    box-sizing: border-box;
    border-bottom: 34.14em solid  #EEEEEE;
    border-left: 8.57em solid transparent;

    position: relative;
} 


.qualitycontent{
    position:absolute;
    height: 100%;
    width:100%;
    background-color: #EEEEEE;
    box-sizing: border-box;           
    padding-left: 1em;

    padding-right:227px;

}

.qualityheading{
    margin-top: 2.75em;
    font-family: NotoSans;
    font-size: 24px;
    font-weight: bold;
    color:white;
}

.qualitycontent span{
    border-bottom: 2px solid white; 
}

.qualitycontent:hover span{
    border-bottom: 2px solid #3BAAFE; 
}

.qualitytext{
    width:435px;
    height:275px;
    box-sizing: border-box;
    line-height: 1.2em;
    padding-right:3em;
    display: grid;

    grid-template-areas: 'para'
                          'items';
    grid-gap: 1em;
}

.qualitypara{

    max-width:435px;
    line-height: 1.5em;
    margin-top: 2em;
    margin-bottom: 2em;

}


.qualityitems{

    max-width: 31.07em; /*435px;*/
    display: grid;

    grid-template-areas: 'item1'
                          'item2'
                          'item3';
    grid-gap: 1.2em;
}

.qualityitem1{
    grid-area: item1;
 
}

.qualityitem2{
    grid-area: item2;
}

.qualityitem3{
    grid-area: item3;
}

.qualityimg{
    width:39px;
    height:39px;
    background-color: white;
    border-radius: 50%; 
}

.qualitydesc{
    box-sizing: border-box;
    margin-left: 1em;
    line-height: 1.5em;
    max-width: 28.21em; /*395px; */
}




/**********PORTFOLIO**********/

.secportfolio{
    width:100%;
    height: 777px;
    background-color: white;  

}

.portfoliocontent
{
    width:1204px;
    height: 607px;    
    margin: auto;
}



.portfolioheading{
    font-family: NotSans;
    font-weight: bold;
    font-size: 24px;
    color:rgba(59,170,254,255);
}

.portfolioheading span{
    border-bottom: 2px solid gray; 
}

.portfoliomenucontainer{
    margin-top: 2em;
    margin-bottom: 2em;
}
.portli{
    background-color:#F5F5F5;
    height: 1.5em;    
    margin-left: .5em;
    display:inline-block;	
    text-align: center;
    
    padding-top: .5em;

   }

.portmenuitem{
    text-decoration: none;
    color:#a6a6a6;
    font-size: 14px;
    font-family: NotoSans;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.portfolioitems{

    margin-top:44px;
    height:435px;
    display:grid;
    grid-template-columns: repeat(4,1fr);   
    
    grid-gap:1px;
}
.portfolioitem{
    /*background-image: url(../images/ria.jpg);*/    

    background-color: #7A7878;
    position: relative;
}

.portfolioitemhover{

    width:100%;
    height: 100%;
    
    display: none;
    position: absolute;
}

.portfolioitem:hover .portfolioitemhover{
    display: block;
    opacity: 0.7;
    background-color: #4B9DDC;
}

.portfolioicons{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.portfolioimage{
    width:44px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    margin-left: 10px;
}

/***********SEC-ENVIRONMENT*****/

.secenvironment{
    height: 32.57em; /*456px*/
    background-color: gray;
}

.envbg{
    width:100%;
    height: 100%;
    /*background-image: ;*/
}


.envcontentbg{
    width: 49.10%; /*707px*/
    height: 100%;
    float: right;

    background-color: #555555;
}

.envcontent{
    width: 90.10%;/*637px*/
    height: 81.58%; /*372px*/
}

.envheading span{
    border-bottom: 2px solid #3BAAFE;
}

.envheading{
    font-family: NotoSans;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255,255,255,255);
    
}

.envdesc{
    margin-top: 2.5em;
    margin-bottom: 3.14em;    
    line-height: 1.2em;
    max-width: 83.05%; /*529px */
    
}

.envitems{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;

    max-width: 83.05%; /*529px;*/
}

.envitemimg{
    width:39px;
    height: 39px;
    background-color: white;
}

.envitemheading{
    font-family: OpenSans;
    font-size:14px;    
    color:white;
    padding-left: 1.5em;
}

.envitemdesc{
    
    line-height: 1.2em;
    margin-top: 1.2em;
}

/*********SEC-BLOG***********/

.secblog{
    height: 52.5em; /*735px*/
}

.blogcontent
{
    width: 83.75%; /*1206px*/
    height: 76.60%; /*563px*/

    background-color: white;
}

.blogheading{

    font-family: NotoSans;
    font-size:24px;
    font-weight: bold;
    color: #3BAAFE;

    margin-left: .5em;
}

.blogheading span{
    border-bottom: 2px solid #B6B6B6;
}

.blogposts{

    display: grid;
    grid-template-areas: 'post1 post2 post3 post4';
    grid-gap: 2em;

    margin-top: 5.71em; /*80px;*/
    margin-bottom: 3.14em; /*44px;*/
    
}

.post1{
    grid-area: post1;
    
}

.postimg{
    width: 280px;
    height: 190px;
    background-color: #7A7878;
}

.postheader{
    width:100%;
    height: 69px;
    background-color: #F5F5F5;
    padding: 1.5em 1em;
    line-height: 1.2em;
    box-sizing: border-box;
    
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    color: rgba(119,119,119,255);
}
.blogpost{
    padding: 1em 1em;
    line-height: 1.2em;
    box-sizing: border-box;
    background-color: #FAFAFA;
   
}

.postfooter{
    width:100%;
    height: 40px;
    padding: 1em 1em;
    box-sizing: border-box;
    background-color: #F5F5F5;
}

.postfootertopic{
    float:left;

    font-family: OpenSans;
    font-size: 12px;
    color:rgba(153,153,153,255);
}

.postfootermore{
    float:right;

    font-family: OpenSans;
    font-size: 12px;
    color:rgba(153,153,153,255);
}

.postfootermore:hover{
    color: #3ABBFE;
}

.post2{
    grid-area: post2;    
}

.post3{
    grid-area: post3;    
}

.post4{
    grid-area: post4;    
}

.blogfooter{
    
    width:100%;
}

.pagination{
    float:left;
    display: flex;
}

.arrowclass{
    width: 39px;
    height: 39px;
    background-color: #555555;
    border-radius: 50%;
    margin-right: 5px;
}

/*
.arrowclass:hover{

}
*/

.view{
    float:right;    
    height: 39px;
    width:121px;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: bold;
    color: white;    
    background-color: #555555;
}

/*******SEC-PRICING**********/
.secpricing{
    height:625px;
}

.pricingsections{
    display:grid;
    grid-template-areas: 'item1 item2 item3 item4';
}

.starterpricing{
    grid-area: item1;
}

.standardpricing{
    grid-area: item2;
}

.businesspricing{
    grid-area: item3;
}

.ultimatepricing{
    grid-area:item4;
}
/***********FOOTER************/
.footer{
    box-sizing: border-box;
    height:390px;
    background-color: #555555;        
    padding: 44px 118px 22px 118px;
}


.divcopyright{
    width: 100%;
    height: 50px;
    text-align: center;
}


.footermaincontent{
    
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(153,153,153,255);
}

.aboutheader{
    display: flex;    
    align-items: center;
}



.about{
    grid-column: 1/3;   
    
}

.aboutdesc{
    margin-top: 22px;
    margin-bottom: 22px;
    font-family: NotoSans;
    font-size: 14px;
    color: rgba(153,153,153,255);
    line-height: 1.2em;
    
}

.footersocialmedia{
    display: grid;
    grid-template-areas: 'facebook twitter googleplus dribble';
    width: 198px;
    grid-gap: 5px;
}

.socialmediastyle{
    width: 44px;
    height: 44px;
    background-color: #B6B6B6;
    border-radius: 50%;
}

.footerfacebook{
    grid-area: facebook;
    
}

.footertwitter{
    grid-area: twitter;
}

.footergoogleplus{
    grid-area: googleplus;
}

.footerdribble{
    grid-area: dribble;
}


.divaddress{
    grid-column: 3;
    
}

.footerheaders{
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    color: rgba(255,255,255,255);
       
}

.address{   

    margin-top: 2em;
    margin-bottom: 1.5em;
    line-height: 1.2em;
}

.email{
    margin-left: 1em;
}

.divphonenumber{    
    margin-top: 1.5em;
}
.phone{
    margin-left: 1em;
}
.phonelast{
    margin-left: 2.5em;
}



.links{
    grid-column: 4;
    
}

.linkslst{
    
    margin-top: 2em;    
    line-height: 1.5em;
}

.linkslst li a{
    text-decoration: none;
    color: rgba(153,153,153,255);
}


.contact{
    grid-column: 5/8;    
}

.contactdetails{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-gap: 5px;

    margin-top: 2em;
    height: 210px;
}



.inputmessage{
    grid-column: 1/3;
    grid-row: 2/5;
    resize: none;
}

.inputelementstyle{
    background-color: #B6B6B6;
    color: rgba(153,153,153,255);
    font-family: OpenSans;    
    font-size: 14px;
}

.submit{
    grid-column: 1/3;
    background-color: #999999;
    color: rgba(119,119,119,255);
    font-family: OpenSans;
    font-weight: bold;
    font-size: 14px;
}
